.service-icon-style {
  font-size: 4em;
  padding: 20px;
}

.service-name-style:hover {
  color: #1c63b8;
  cursor: pointer;
}

.main-icon {
  height: 64px;
  width: 64px;
  border: 1px solid #1c63b8;
  color: #1c63b8;
  cursor: pointer;
  border-radius: 50%;
}

.single-service:hover .main-icon {
  background-color: #1c63b8;
  color: white;
  border: 1px solid white;
}