.why-choose-us-background {
  background-image: url('https://drive.google.com/uc?id=1y908r5l3xtWcZfMTUbocfgEWTIY_Rt2z');
  min-height: 450px;
  background-color: #1c63b8;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}