.icon-style {
  font-size: 24px;
  width: 36px;
  color: white;
  text-align: center;
}

.google-box {
  cursor: pointer;
  border: 1px solid #1c63b8;
  background-color: white;
}

.google-icon {
  background-color: #1c63b8;
}

.google-text {
  color: #1c63b8;
}

.login-brand-icon > .brand-style {
  color: #1c63b8;
}